In [ ]:
import pandas as pd

<!-- Dataframe is to create a table -->

In [3]:
pd.DataFrame({'Yes':[50,10],'No':[30,29]})

   Yes  No
0   50  30
1   10  29

<!-- Entries can be manipulated with the use of dictionary -->

In [ ]:
pd.DataFrame({'Yes':["I am Naveen","I am a ML engineer apperentice"],'No':["I love one piece","I love anime"]},index=[1,2])

                              Yes                No
1                     I am Naveen  I love one piece
2  I am a ML engineer apperentice      I love anime

<!-- Series is a representation of List, the main difference is it doesnot have a column header -->

In [5]:
pd.Series([1,2,3,4,5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [10]:
pd.Series([1,2,3,4,5],index=["number1","number2","number3","number4","number5"],name='Learning')

number1    1
number2    2
number3    3
number4    4
number5    5
Name: Learning, dtype: int64

<!-- The Series and the DataFrame are intimately related. It's helpful to think of a DataFrame as actually being just a bunch of Series "glued together". We'll see more of this in the next section of this tutorial.  -->

In [ ]:
toy_dataset=pd.read_csv('toy_dataset.csv',index_col=0)

In [20]:
toy_dataset.head()

          City Gender  Age   Income Illness
Number
1       Dallas   Male   41  40367.0      No
2       Dallas   Male   54  45084.0      No
3       Dallas   Male   42  52483.0      No
4       Dallas   Male   40  40941.0      No
5       Dallas   Male   46  50289.0      No

In [21]:
toy_dataset.shape

(150000, 5)

In [22]:
toy_dataset.City

Number
1         Dallas
2         Dallas
3         Dallas
4         Dallas
5         Dallas
           ...
149996    Austin
149997    Austin
149998    Austin
149999    Austin
150000    Austin
Name: City, Length: 150000, dtype: object

In [23]:
toy_dataset['Age']

Number
1         41
2         54
3         42
4         40
5         46
          ..
149996    48
149997    25
149998    26
149999    25
150000    37
Name: Age, Length: 150000, dtype: int64

In [26]:
toy_dataset['City'][1]

'Dallas'

In [27]:
toy_dataset.iloc[0]

City        Dallas
Gender        Male
Age             41
Income     40367.0
Illness         No
Name: 1, dtype: object

In [31]:
toy_dataset.iloc[:,0]

Number
1         Dallas
2         Dallas
3         Dallas
4         Dallas
5         Dallas
           ...
149996    Austin
149997    Austin
149998    Austin
149999    Austin
150000    Austin
Name: City, Length: 150000, dtype: object

In [33]:
toy_dataset.iloc[:3,0]

Number
1    Dallas
2    Dallas
3    Dallas
Name: City, dtype: object

In [43]:
toy_dataset.iloc[:,3]

Number
1          40367.0
2          45084.0
3          52483.0
4          40941.0
5          50289.0
            ...
149996     93669.0
149997     96748.0
149998    111885.0
149999    111878.0
150000     87251.0
Name: Income, Length: 150000, dtype: float64

In [39]:
toy_dataset.loc[1,'Income']

np.float64(40367.0)

In [46]:
toy_dataset.set_index("Income")

            City  Gender  Age Illness
Income
40367.0   Dallas    Male   41      No
45084.0   Dallas    Male   54      No
52483.0   Dallas    Male   42      No
40941.0   Dallas    Male   40      No
50289.0   Dallas    Male   46      No
...          ...     ...  ...     ...
93669.0   Austin    Male   48      No
96748.0   Austin    Male   25      No
111885.0  Austin    Male   26      No
111878.0  Austin    Male   25      No
87251.0   Austin  Female   37      No

[150000 rows x 4 columns]

In [47]:
toy_dataset.City=='Dallas'

Number
1          True
2          True
3          True
4          True
5          True
          ...
149996    False
149997    False
149998    False
149999    False
150000    False
Name: City, Length: 150000, dtype: bool

In [48]:
toy_dataset.loc[toy_dataset.City=='Dallas']

          City  Gender  Age   Income Illness
Number
1       Dallas    Male   41  40367.0      No
2       Dallas    Male   54  45084.0      No
3       Dallas    Male   42  52483.0      No
4       Dallas    Male   40  40941.0      No
5       Dallas    Male   46  50289.0      No
...        ...     ...  ...      ...     ...
19703   Dallas  Female   59  30021.0      No
19704   Dallas    Male   33  34643.0      No
19705   Dallas    Male   33  53190.0      No
19706   Dallas    Male   37  54265.0      No
19707   Dallas    Male   59  51265.0      No

[19707 rows x 5 columns]

In [52]:
toy_dataset.loc[toy_dataset.Age.isin([41])]

          City  Gender  Age    Income Illness
Number
1       Dallas    Male   41   40367.0      No
36      Dallas    Male   41   50312.0      No
38      Dallas  Female   41   29538.0      No
42      Dallas    Male   41   68522.0      No
75      Dallas  Female   41   27897.0      No
...        ...     ...  ...       ...     ...
149716  Austin    Male   41   94296.0      No
149806  Austin  Female   41   71121.0      No
149840  Austin    Male   41   92839.0      No
149891  Austin    Male   41   87493.0      No
149967  Austin    Male   41  105023.0      No

[3862 rows x 5 columns]

In [53]:
toy_dataset['test_index'] = range(len(toy_dataset),0,-1)

In [55]:
toy_dataset['test_index']

Number
1         150000
2         149999
3         149998
4         149997
5         149996
           ...
149996         5
149997         4
149998         3
149999         2
150000         1
Name: test_index, Length: 150000, dtype: int64

<!-- Summary Functions  -->

In [56]:
toy_dataset.Age.describe()

count    150000.000000
mean         44.950200
std          11.572486
min          25.000000
25%          35.000000
50%          45.000000
75%          55.000000
max          65.000000
Name: Age, dtype: float64

In [57]:
toy_dataset.City.describe()

count            150000
unique                8
top       New York City
freq              50307
Name: City, dtype: object

In [58]:
toy_dataset.City.unique()

array(['Dallas', 'New York City', 'Los Angeles', 'Mountain View',
       'Boston', 'Washington D.C.', 'San Diego', 'Austin'], dtype=object)

In [59]:
toy_dataset.City.nunique()

8

In [60]:
toy_dataset.City.value_counts()

City
New York City      50307
Los Angeles        32173
Dallas             19707
Mountain View      14219
Austin             12292
Boston              8301
Washington D.C.     8120
San Diego           4881
Name: count, dtype: int64

<!-- Maps -->

In [63]:
mean = toy_dataset.Income.mean()

In [64]:
toy_dataset.Income.map(lambda p: p -mean)

Number
1        -50885.798273
2        -46168.798273
3        -38769.798273
4        -50311.798273
5        -40963.798273
              ...
149996     2416.201727
149997     5495.201727
149998    20632.201727
149999    20625.201727
150000    -4001.798273
Name: Income, Length: 150000, dtype: float64